

  <div class="col-md-3 float-left col-1 pl-0 pr-0 width " id="sidebar">
      <div class="list-group border-0 card text-center text-md-left">
      <a href="#menu1" class="list-group-item d-inline-block " data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-users"></i> <span class="d-none d-md-inline">DRH</span> </a>
      <div class="collapse" id="menu1">
          <!-- <a href="#menu1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 1 </a> -->
          <!-- <div class="collapse" id="menu1sub1">
              <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem 1 a</a>

              
              <a *ngFor="let drh of drhs" routerLink="drh/{{drh}}" class="list-group-item" data-parent="#menu1sub1">{{drh}}</a>
              <a href="#menu1sub1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 3 c </a>
              <div class="collapse" id="menu1sub1sub1">
                  <a href="#" class="list-group-item" data-parent="#menu1sub1sub1">Subitem 3 c.1</a>
                  <a href="#" class="list-group-item" data-parent="#menu1sub1sub1">Subitem 3 c.2</a>
              </div>
              <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem 4 d</a>
              <a href="#menu1sub1sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 5 e </a>
              <div class="collapse" id="menu1sub1sub2">
                  <a href="#" class="list-group-item" data-parent="#menu1sub1sub2">Subitem 5 e.1</a>
                  <a href="#" class="list-group-item" data-parent="#menu1sub1sub2">Subitem 5 e.2</a>
              </div>
          </div> -->
          <a *ngFor="let drh of drhs" routerLink="drh/{{drh.name}}" class="list-group-item" data-parent="#menu1">{{drh.name}} {{drh.dateRouted}}</a>
         
      </div>

      <a href="#menu2" class="list-group-item d-inline-block " data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
        <i class="fa fa-line-chart"></i> 
        <span class="d-none d-md-inline">DAF</span> </a>
      <div class="collapse" id="menu2">
     
          <a *ngFor="let daf of dafs" routerLink="daf/{{daf}}" class="list-group-item" data-parent="#menu2">{{daf}}</a>
         
      </div>

      <a href="#menu3" class="list-group-item d-inline-block " data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
        <i class="fa fa-line-chart"></i> 
        <span class="d-none d-md-inline">Industrie</span> </a>
      <div class="collapse" id="menu3">
          
     
          <a *ngFor="let industrie of industries" routerLink="industrie/{{industrie.url}}" class="list-group-item" data-parent="#menu3">{{industrie.url}}
            

        
        </a>
   


          
         
      </div>
      
      <!-- <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-heart"></i> <span class="d-none d-md-inline">Item 2</span></a>
      <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-list"></i> <span class="d-none d-md-inline">Item 3</span></a>
      <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-clock-o"></i> <span class="d-none d-md-inline">Link</span></a>
      <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-th"></i> <span class="d-none d-md-inline">Link</span></a>
      <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-gear"></i> <span class="d-none d-md-inline">Link</span></a>
      <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-calendar"></i> <span class="d-none d-md-inline">Link</span></a>
      <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-envelope"></i> <span class="d-none d-md-inline">Link</span></a>
      <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-bar-chart-o"></i> <span class="d-none d-md-inline">Link</span></a>
      <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-star"></i> <span class="d-none d-md-inline">Link</span></a> -->

      <!-- ALL Annonceurs -->
      <a href="#menu4" class="list-group-item d-inline-block" 
        data-toggle="collapse" data-parent="#sidebar" 
        aria-expanded="false">
            <i class="fa fa-list"></i> 
            <span class="d-none d-md-inline">ALL ANNONCEURS</span> </a>
            <div class="collapse" id="menu4">
              <a *ngFor="let edition of editions" 
                routerLink="edition/{{edition.type}}/{{edition.id}}" 
                class="list-group-item" 
                data-parent="#menu4">{{edition.type}} {{edition.id}} - {{edition.dateAdded}}
                </a>
            </div>
  </div>
</div>